.buttons {
    display: flex;
    flex-grow: 1;
    background-color: #f8f8f8;
    padding-bottom: 0px;
}

.custom-button {
    flex-grow: 1;
    margin: 1px;
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: #0070d2;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #0056b3;
}

